<%- include("../partials/header") %>

<div class="outer-login-container">
    <div class="login-container">
        <h1 style="color: #2563eb;">Page Not Found</h1>
    </div>
</div>

<%- include("../partials/footer") %>