<%- include("../partials/header") %>

<div class="outer-main-home">
<div class="main-home">
    <a href="/tasks/new" class="tsk-btn">Add Task</a>
    <a href="/tasks" class="tsk-btn">View Tasks</a>
</div></div>

<%- include("../partials/footer") %>